{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white py-5 px-3 px-lg-5">
    <div class="row p-2">
        <div class="col-12 my-1 text-dark text-center">
            <h1 class="logo-font p-2 mt-0"><strong>My Profile</strong></h1>
            <hr class="text-dark my-1 mx-auto">
        </div>
    </div>
    <div class="row px-2 mx-auto">
        <div class="col-12 col-lg-6 my-1 mx-auto text-dark text-center order-lg-2">
            {{ profile }}
        </div>
    </div>
</div>

{% endblock %}