{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white py-5 px-3 px-lg-5">
  <div class="row p-2">
    <div class="col-12 my-1 text-dark text-center">
      <h1 class="logo-font p-2 mt-0"><strong>Thank you!</strong></h1>
      <hr class="text-dark my-1 mx-auto">
      <p class="lead my-5">An order confirmation will be sent to {{ order.email }}</p>
    </div>
  </div>
  <div class="row px-2 mx-auto">
    <div class="col-12 col-lg-6 my-1 mx-auto text-dark text-center order-lg-2">
      {% if from_profile %}
      <a href="{% url 'profile' %}" class="btn btn-dark no-space rounded-0 py-1 py-md-3 my-1">
        <span class="icon mr-2">
          <i class="fas fa-angle-left"></i>
        </span>
        <span class="text-uppercase">Back to Profile</span>
      </a>
      {% else %}
      <a href="{% url 'home' %}" class="btn btn-dark no-space rounded-0 py-1 py-md-3 my-1">
        <span class="icon mr-2">
          <i class="fas fa-gifts"></i>
        </span>
        <span class="text-uppercase">Back to our Home Page!</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}