html {
  height: 100%;
}

body {
  background: url('/media/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(100vh);
}

.logo-link {
  width: fit-content;
}

#logo-img {
  width: 120px;
  height: auto;
}