{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white py-5">
  <div class="row mb-1">
    <div class="col-12 my-1 text-dark text-center">
      <h1 class="logo-font p-2 mt-0"><strong>Local catering</strong></h1>
      <hr class="mb-0 mx-auto">
      {% for category in current_categories %}
      <a class="logo-font text-decoration-none" href="{% url 'items' %}?category={{ category.name }}">
        <h3 class="p-2 mt-1 text-dark">{{ category.friendly_name }}</h3>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="row mt-1 mb-2">
      <div class="col-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
        <div class="sort-select-wrapper w-50">
          <select id="sort-selector"
            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}dark{% endif %}">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
            </option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
            </option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)
            </option>
            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
            </option>
          </select>
        </div>
      </div>
      <div class="col-6 order-md-first">
        <p class="text-muted mt-1 text-center text-md-left">
          {% if search_term or current_categories or current_sorting != 'None_None' %}
          <span class="small text-dark"><a href="{% url 'items' %}">All items</a> | </span>
          {% endif %}
          <small>{{ items|length }} Items{% if search_term %} found for
            <strong>"{{ search_term }}"</strong>{% endif %}</small>
        </p>
      </div>
    </div>
    <div class="row">
      {% if items %}
      {% for item in items %}
      <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
        <div class="card h-100 rounded-0 border-0 bg-dark text-white p-3 mb-3">
          {% if item.image %}
          <a href="{% url 'item_detail' item.id %}">
            <img class="card-img-top rounded-0 border border-5 border-dark" src="{{ item.image.url }}"
              alt="{{ item.name }}">
          </a>
          {% else %}
          <a href="{% url 'item_detail' item.id %}">
            <img class="card-img-top rounded-0 border border-5 border-dark" src="{{ MEDIA_URL }}noimage.png"
              alt="{{ item.name }}">
          </a>
          {% endif %}
          <div class="card-body d-flex flex-column mb-0 pb-1">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text fst-italic">{{ item.description | slice:":75" }}...</p>
            <h5 class="mb-1 mt-auto">€{{ item.price }}</h5>
            {% if item.category %}
            <p class="small mt-1 mb-0">
              <a class="text-white" href="{% url 'items' %}?category={{ item.category.name }}">
                {{ item.category.friendly_name }}
              </a>
            </p>
            {% endif %}
          </div>
          <div class="card-footer border-0 mb-2">
            {% if item.in_stock %}
            <a href="{% url 'item_detail' item.id %}" class="btn btn-light py-2 w-100 rounded-0"><strong>View
                details</strong></a>
            {% else %}
            <div class="btn btn-light mb-0 py-2 w-100 rounded-0 oos-nohover"><strong>Out of Stock</strong></div>
            {% endif %}
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:1 %}
      <div class="col-12 d-md-none">
        <hr class="mx-auto text-dark">
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:2 %}
      <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
        <hr class="mx-auto text-dark">
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 %}
      <div class="col-12 d-none d-lg-block d-xl-none">
        <hr class="mx-auto text-dark">
      </div>
      {% endif %}
      {% if forloop.counter|divisibleby:4 %}
      <div class="col-12 d-none d-xl-block">
        <hr class="mx-auto text-dark">
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<!-- Sort selector script  -->
<script>
  $('#sort-selector').change(function () {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if (selectedVal != "reset") {
      var sort = selectedVal.split("_")[0];
      var direction = selectedVal.split("_")[1];

      currentUrl.searchParams.set("sort", sort);
      currentUrl.searchParams.set("direction", direction);

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("sort");
      currentUrl.searchParams.delete("direction");

      window.location.replace(currentUrl);
    }
  });
</script>
{% endblock %}