{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid bg-white py-5">
  <div class="row mb-3">
    <div class="col-12 my-2 text-dark text-center">
      <h1 class="logo-font p-2 mt-0"><strong>Local catering</strong></h1>
    </div>
  </div>
  <div class="row">
    {% if items %}
    {% for item in items %}
    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto my-3">
      <div class="card h-100 rounded-0 border-0 bg-dark text-white p-3 mb-3">
        <img src="../../../media/background.jpg" class="card-img-top rounded-0 border border-5 border-dark" alt="#">
        <div class="card-body d-flex flex-column mb-0 pb-1">
          <a href="{% url 'item_detail' item.id %}">
            <h5 class="card-title">{{ item.name }}</h5>
          </a>
          <p class="card-text fst-italic">{{ item.description }}</p>
          <h5 class="mb-1 mt-auto">€{{ item.price }}</h5>
        </div>
        <div class="card-footer border-0 mb-2">
          {% if item.in_stock %}
          <a href="#" class="btn btn-light py-2 w-100 rounded-0"><strong>Add to basket</strong></a>
          {% else %}
          <div class="btn btn-light mb-0 py-2 w-100 rounded-0 oos-nohover"><strong>Out of Stock</strong></div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if forloop.counter|divisibleby:1 %}
    <div class="col-12 d-sm-none">
      <hr class="mx-auto text-dark">
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
      <hr class="mx-auto text-dark">
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
    <div class="col-12 d-none d-lg-block d-xl-none">
      <hr class="mx-auto text-dark">
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:4 %}
    <div class="col-12 d-none d-xl-block">
      <hr class="mx-auto text-dark">
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}