<footer class="container-fluid bg-dark text-white">
  <div class="row text-center">
    <div class="col">
      <!-- Footer Nav Menu -->
      <p><a class="text-white" href="#">Welcome</a></p>
      <p><a class="text-white" href="#">Local Catering</a></p>
      <p><a class="text-white" href="#">Chef Hire</a></p>
      <p><a class="text-white" href="#">About Us</a></p>
    </div>
    <div class="col">
      <!-- Social links -->
      <a class="text-white" href="#"><i class="fab fa-facebook"></i></a>
    </div>
    <div class="col">
      <!-- Links and other info -->
      <p>&copy; Noemi Chis-Hunyadi 2023</p>
    </div>
  </div>
  </div>
</footer>