<div class="collapse navbar-collapse ps-2 pb-2" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item">
      <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="welcome-link">
        Welcome
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" id="all-items-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        All Items
      </a>
      <div class="dropdown-menu dropdown-menu-dark text-white border-1 rounded-0" aria-labelledby="all-items-link">
        <a href="{% url 'items' %}" class="dropdown-item">All Catering Items</a>
        <a href="{% url 'hire_packages' %}" class="dropdown-item">All Hire Packages</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" id="local-catering-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Local Catering
      </a>
      <div class="dropdown-menu dropdown-menu-dark text-white border-1 rounded-0" aria-labelledby="local-catering-link">
        {% if categories %}
        {% for category in categories %}
        <a href="{% url 'items' %}?category={{ category.name }}" class="dropdown-item">{{ category.friendly_name }}</a>
        {% endfor %}
        <hr class="w-100 dropdown-divider">
        {% endif %}
        <a href="{% url 'items' %}" class="dropdown-item">Show all items</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" id="chef-hire-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Chef Hire
      </a>
      <div class="dropdown-menu dropdown-menu-dark text-white border-1 rounded-0" aria-labelledby="chef-hire-link">
        <a href="{% url 'hire_packages' %}" class="dropdown-item">Hire Packages</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white" id="about-link" data-bs-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        About Us
      </a>
      <div class="dropdown-menu dropdown-menu-dark text-white border-1 rounded-0" aria-labelledby="about-link">
        <a href="#" class="dropdown-item oos-nohover">Coming soon</a>
      </div>
    </li>
  </ul>
</div>