<div class="collapse navbar-collapse pb-2" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" href="#" id="welcome-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Welcome
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" href="#" id="local-catering-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Local Catering
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="local-catering-link">
        <a href="{% url 'items' %}?category=afternoon_tea" class="dropdown-item">Afternoon Tea</a>
        <a href="{% url 'items' %}?category=lunch" class="dropdown-item">Lunch menu</a>
        <a href="{% url 'items' %}?category=dinner_specials" class="dropdown-item">Dinner specials</a>
        <a href="{% url 'items' %}?category=afternoon_tea,lunch,dinner_specials" class="dropdown-item">Show all
          items</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white mr-5" href="#" id="chef-hire-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Chef Hire
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="chef-hire-link">
        <a href="#" class="dropdown-item">Private dining</a>
        <a href="#" class="dropdown-item">Culinary experiences</a>
        <a href="#" class="dropdown-item">Special occasions</a>
        <a href="#" class="dropdown-item">Small events</a>
        <a href="#" class="dropdown-item">Show all items</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a class="font-weight-bold nav-link text-white" href="#" id="about-link" data-bs-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        About Us
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="about-link">
        <a href="#" class="dropdown-item">About</a>
        <a href="#" class="dropdown-item">Testimonials</a>
        <a href="#" class="dropdown-item">Contact Us</a>
      </div>
    </li>
  </ul>
</div>