{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block inner_content %}
<h1 class="logo-font p-2 mt-0"><strong>{% trans "Logout" %}</strong></h1>
<hr class="w-100 text-dark my-1 mx-auto">

<p>{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-dark rounded-0" type="submit">{% trans 'Logout' %}</button>
</form>


{% endblock %}