{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<h1 class="logo-font p-2 mt-0"><strong>{% trans "Password Reset" %}</strong></h1>
<hr class="w-100 text-dark p-1 mb-0 mx-auto">

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few
    minutes.{% endblocktrans %}</p>
{% endblock %}