{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Devil On Pans Local Catering and Private Chef">
  <meta name="keywords" content="local catering, chef hire, homemade food, local ingredients, 
                    food delivery, world cuisine, finger food, freshly prepared dishes, event hosting, 
                    healthy bites">
  {% endblock %}

  {% block base_css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Lato&family=Niramit:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_css %}
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block main_js %}
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
  </script>
  {% endblock %}

  <title>Devil On Pans</title>
</head>

<body>
  <!-- header -->
  <header class="container-fluid fixed-top">
    <div id="topnav" class="row bg-dark align-items-center d-none d-md-flex">
      <div class="col p-1 my-auto d-flex align-items-center">
        <a href=" {% url 'home' %}" class="nav-link logo-link">
          <img src="{{ MEDIA_URL }}logo-img.png" id="logo-img" class="px-1" alt="Devil on Pans logo">
        </a>
        <div class="d-none d-md-block align-items-center text-white">
          <h2 class="my-0 logo-font">
            <strong>Devil On Pans</strong>
          </h2>
          <p class="m-0">Local Catering & Chef Hire</p>
        </div>
      </div>
      <div class="col p-1 my-auto">
        <ul class="d-flex list-unstyled justify-content-end m-0">
          <!-- Search -->
          <li class="d-flex p-3">
            <a class="text-white nav-link" href="#" id="search" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-2 d-none d-sm-block">Search</p>
              </div>
            </a>
            <div class="dropdown-menu border-0 w-100 p-md-4 rounded-0 my-md-3  bg-dark" aria-labelledby="search">
              <form class="form" method="GET" action="{% url 'items' %}" aria-label="Search form">
                <div class="input-group w-100">
                  <label class="sr-only">Search our site</label>
                  <input class="form-control border border-white rounded-0" type="text" name="q"
                    placeholder="Search...">
                  <div class="input-group-append bg-white">
                    <button class="form-control btn btn-white border border-white rounded-0" type="submit">
                      <span class="icon">
                        <i class="fas fa-search fa-lg"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <li class="dropdown p-3">
            <a class="text-white nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user-circle fa-lg"></i></div>
                <p class="my-2 d-none d-sm-block">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="#" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="p-3">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link"
              href="{% url 'view_bag' %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-basket fa-lg"></i></div>
                <p class="my-2 d-none d-sm-block">
                  {% if grand_total %}
                  €{{ grand_total|floatformat:2 }}
                  {% else %}
                  €0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Navigation -->
    <div class="row bg-dark">
      <hr class="d-none d-md-block text-white p-1 mb-0 mx-auto">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid me-1">
          <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
            aria-controls="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-header.html' %}
          {% include 'includes/main-nav.html' %}
        </div>
      </nav>
    </div>
  </header>

  <!-- Messages -->
  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  <!-- Footer -->

  {% include 'includes/footer.html' %}

  {% block postload_js %}
  <script type="text/javascript">
    $().ready(function () {
      $('.toast').toast('show');
    });
  </script>
  {% endblock %}
</body>

</html>